doctype html
html
  head
    title #{title} · Time Tab
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css')

    script(type="text/javascript", src="javascripts/lib/jquery.min.js")
    script(type="text/javascript", src="javascripts/lib/angular.min.js")
    script(type="text/javascript", src="javascripts/lib/bootstrap.min.js")

    block head

  body.preload
    block content