@import 'nib'

/*transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  transform arguments

transition-delay()
  -webkit-transition-delay arguments
  -moz-transition-delay arguments
  -o-transition-delay arguments
  transition-delay arguments*/

grey = #333
sidebarWidth = 160px

html,
body
  height 100%
  width 100%
  overflow hidden
  margin 0

[type=checkbox]:after
  content attr(value)
  position relative
  top 50%
  font-size 14px
  margin -7px 0 0 30px
  vertical-align top
  display inline-block
  white-space nowrap
  cursor pointer

.preload *
  transition none !important

#activity-name-and-color
  cursor pointer

#wrapper
  height 100%

  #slider
    background #999
    height 100%
    overflow hidden
    position relative

    #record-info
      position absolute
      display block
      z-index 2

      .modal-header
        text-align center

    #sliders
      overflow-x scroll
      position relative
      height 100%
      user-select none

      .current-time
        width 13%
        display block
        height 4px
        background grey
        z-index 1
        position absolute

      > div
        height 4320px
        background #fff
        margin-top 64px
        float left
        width 14.285%
        position relative
        
        &:nth-child(2n + 1)
          background #eee
      
      .time-indicators
        height 100%
        //display none
        
        > span
          display block
          float left
          width 100%
          height 360px
          border-top 1px solid #ddd
          color #ccc
          font-size 12px
          padding 0 0 0 10px
          margin 0 0 0 -1px
          line-height 50px
          text-align center
          position relative

      .record-creater
        width 100%
        height 100%
        position absolute
        left 0
        top 0

      .record
        width 28%
        border-radius 0px
        position absolute
        left 8%
        transition width 0.05s linear, left 0.05s linear
        user-select none

        .drag-right,
        .drag-left
          position absolute
          height 20px
          z-index 1
          left 0
          top 0
          width 100%
          margin -10px 0 0 0
          cursor ns-resize

        .drag-right
          top 100%
        
        .time
          width 100%
          height 100%
          position absolute
          font-size 1vw
          cursor pointer
          color #fff

          span
            position absolute
            top 50%
            left 0
            line-height 0
            width 100%
            text-align center

    #time-teller
      position absolute
      display block
      width auto
      line-height 15px
      margin-top -65px
      pointer-events none
      padding 10px
      color #eee
      display block !important
      background #222
      transition opacity 0.1s linear, transform 0.1s cubic-bezier(0.590, -0.495, 0.490, 1.530)
      z-index 2
      transform-origin left bottom
      transform scale(1,1)
      
      &.ng-hide
        opacity 0
        transform scale(0.2,0.2)

      .arrow
        content ""
        position absolute
        top 100%
        left 0
        border 3px solid #222
        border-color #222 transparent transparent #222
        
        &.top
          top -6px !important
          border-color transparent transparent #222 #222

    #time-pointer
      background #222
      pointer-events none
      color #eee
      line-height 30px
      font-size 14px
      text-align center
      width 80px
      height 30px
      position absolute
      opacity 1
      left 0
      display block !important
      transform-origin right center
      transition opacity 0.1s linear, margin-top 0.1s linear, z-index linear 0s, transform 0.2s cubic-bezier(0.590, -0.495, 0.490, 1.530) 
      top 0
      z-index 2
      margin-left -40px
      transform-origin bottom center
      transform scale(1,1)

      &.ng-hide
        opacity 0
        // margin-top -10px
        transition opacity 0.1s linear, margin-top 0.1s linear, z-index linear 0.3s, transform 0.2s cubic-bezier(0.590, -0.495, 0.490, 1.530) 
        z-index 0
        transform scale(0.2,0.2)
      
      &.top 
        transform-origin top center

        .arrow
          top 0
          margin-top -10px
          border-color transparent
          border-bottom-color #222

      .arrow
        width 0
        height 0
        background transparent
        border 5px solid transparent
        border-top-color #222
        position absolute
        top 100%
        left 50%
        margin 0 0 0 -5px

  #control-bar
    height 65px
    width 100%
    // box-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
    border-bottom 1px solid #ddd
    padding 15px
    position fixed
    background #fff
    z-index 1

    #slider-date-picker
      float left
      position absolute
      top 52px

  #side
    float left
    width sidebarWidth
    background grey
    color #ccc
    position relative
    overflow-x hidden
    z-index 3
    overflow-y scroll
    height 100%
    padding 20px
    font-weight bold
    font-size 12px
    line-height 25px
    text-align left

    .heading
      display block
      margin 30px 0 0 0

    ul
      list-style none
      min-height 100%
      padding 0 0 60px 0
      margin 0

      li 
        margin-left -20px
        width sidebarWidth
        position relative

        &:after
          content ""
          display block
          width 0
          height 100%
          background #fff
          position absolute
          right 0
          opacity 0
          z-index -1
          top 0
          transition all 0.2s ease-in-out

        &.active:after
          opacity 1
          width 100%

        &.active a
          color #333

        a
          text-decoration none
          padding 5px 5px 5px 5px
          transition color 0.2s linear
          display block
          color #bbb
          margin 0 0 0 20px

          i
            width 15px
            text-align center
            font-size 16px
            margin-right 15px

    #logo
      height 65px
      width sidebarWidth
      background url("/images/logo.gif") #0d9ace
      display block
      font-size 17px
      margin -20px 0 -20px -20px
      color #fff
      text-decoration none
      text-align center
      line-height 70px

    #profile
      text-align center
      margin-top 30px
      font-size 14px

      img
        border-radius 80px
        width 80px
        display block
        height 80px
        margin 0 auto 5px auto

    /*#logo
      margin -70px auto 0 auto
      padding 0
      display block

      img
        width 50px
        height 60px*/   

  #panel-container
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    display block !important
    transition z-index linear 0s
    z-index 2

    &.ng-hide
      transition-delay 0.1s
      z-index -2

      #panel-hider
        opacity 0

    #panel-hider
      background #000
      width inherit
      height inherit
      transition opacity 0.1s linear
      opacity 0.2
      position absolute
      left 0
      top 0

    .panel
      position absolute
      left sidebarWidth
      visibility visible
      height 100%
      background #fff
      padding 20px
      overflow scroll
      z-index 1
      display block !important
      transition opacity ease-in-out 0.2s, left ease-in-out 0.2s

      &.ng-hide
        left 0
        z-index 0
        opacity 0

      #groups-table,
      #clients-table
        margin-top 30px

        td
          padding-left 0
          padding-right 0

          &:first-child h5
            cursor help
            display inline
            
#activity-color
  display block
  width 18px
  height 18px
  border-radius 10px
  margin-right 15px

  &.large
    margin-top 11px

.table-no-border
  > thead, > tbody, > tfoot, > thead, > tbody, > tfoot
    > tr > td
       border-top none !important